# Spark 101

### 1. Create a spark data frame that contains your favorite programming languages.
 - The name of the column should be language

 - View the schema of the dataframe

 - Output the shape of the dataframe

 - Show the first 5 records in the dataframe


### 2. Load the mpg dataset as a spark dataframe.

 - Create 1 column of output that contains a message like the one below:
     
     - The 1999 audi a4 has a 4 cylinder engine
 
 
 - Transform the trans column so that it only contains either manual or auto
 

### 3. Load the tips dataset as a spark dataframe

   - What percentage of observations are smokers?
    
   - Create a column that contains the tip percentage
    
   - Calculate the average tip percentage for each combination of sex and smoker.
    

### 4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

   - Convert the temperatures to fahrenheit.
    
   - Which month has the most rain, on average?
    
   - Which year was the windiest?
    
   - What is the most frequent type of weather in January?
    
   - What is the average high and low temperature on sunny days in July in 2013 and 2014?
    
   - What percentage of days were rainy in q3 of 2015?
    
   - For each year, find what percentage of days it rained (had non-zero precipitation)

In [1]:
# imports
import pandas as pd
import numpy as np

import pyspark
import pyspark.sql.functions as F

import multiprocessing

from pyspark.sql.functions import min, max, mean, lit, concat
from pyspark.sql.functions import when

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [3]:
# Create a spark data frame that contains your favorite programming languages
df = ['SQL', 'Python', 'Pandas', 'HTML', 'NLP', 'Spark']

In [4]:
# The name of the column should be language
panda_df = pd.DataFrame({'language': df})

In [5]:
# convert pandas df to spark df
df = spark.createDataFrame(panda_df)

In [6]:
# Show the first 5 records in the dataframe
df.show(5)

+--------+
|language|
+--------+
|     SQL|
|  Python|
|  Pandas|
|    HTML|
|     NLP|
+--------+
only showing top 5 rows

In [7]:
# View the schema of the dataframe
df.printSchema()

root
 |-- language: string (nullable = true)

# Load the mpg dataset as a spark dataframe

In [8]:
# imports
from pydataset import data

In [10]:
# getting the mpg data
mpg = spark.createDataFrame(data('mpg'))

In [11]:
# showing the mpg data
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [12]:
# Create 1 column of output that contains a message like the one below:
# The 1999 audi a4 has a 4 cylinder engine
mpg.select(concat(lit('The '), mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a'), mpg.cyl, lit('cylinder engine.')).alias('string')).show(truncate=False)

+------------------------------------------------------------+
|string                                                      |
+------------------------------------------------------------+
|The 1999 audi a4 has a4cylinder engine.                     |
|The 1999 audi a4 has a4cylinder engine.                     |
|The 2008 audi a4 has a4cylinder engine.                     |
|The 2008 audi a4 has a4cylinder engine.                     |
|The 1999 audi a4 has a6cylinder engine.                     |
|The 1999 audi a4 has a6cylinder engine.                     |
|The 2008 audi a4 has a6cylinder engine.                     |
|The 1999 audi a4 quattro has a4cylinder engine.             |
|The 1999 audi a4 quattro has a4cylinder engine.             |
|The 2008 audi a4 quattro has a4cylinder engine.             |
|The 2008 audi a4 quattro has a4cylinder engine.             |
|The 1999 audi a4 quattro has a6cylinder engine.             |
|The 1999 audi a4 quattro has a6cylinder engine.             |
|The 2008 audi a4 quattro has a6cylinder engine.             |
|The 2008 audi a4 quattro has a6cylinder engine.             |
|The 1999 audi a6 quattro has a6cylinder engine.             |
|The 2008 audi a6 quattro has a6cylinder engine.             |
|The 2008 audi a6 quattro has a8cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a8cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a8cylinder engine.|
+------------------------------------------------------------+
only showing top 20 rows

In [13]:
# Transform the trans column so that it only contains either manual or auto
mpg.select(mpg.trans,
          when((mpg.trans.contains('auto')), 'auto')
          .otherwise('manual')
          .alias('trans')).show(20)

+----------+------+
|     trans| trans|
+----------+------+
|  auto(l5)|  auto|
|manual(m5)|manual|
|manual(m6)|manual|
|  auto(av)|  auto|
|  auto(l5)|  auto|
|manual(m5)|manual|
|  auto(av)|  auto|
|manual(m5)|manual|
|  auto(l5)|  auto|
|manual(m6)|manual|
|  auto(s6)|  auto|
|  auto(l5)|  auto|
|manual(m5)|manual|
|  auto(s6)|  auto|
|manual(m6)|manual|
|  auto(l5)|  auto|
|  auto(s6)|  auto|
|  auto(s6)|  auto|
|  auto(l4)|  auto|
|  auto(l4)|  auto|
+----------+------+
only showing top 20 rows